body{
background-color: black;
color: white;
}

#gameRows{
width:100%;
position:relative;
text-align: center;
padding: 50px;
}

#score{
    float:right;
    border: solid 5px white;
    background-color: darkblue;
    padding:15px;
}

#target{
    float:left;
    border: solid 5px white;
    background-color: darkblue;
    padding:15px;
}

#crystalRows{
    width:38%;
    text-align:center;
    padding:50px;
    margin: 0 auto;
}

#instructions{
    width:44%;
    background-color: darkblue;
    margin: 0 auto;
    border: solid 5px white;
    padding:30px;
}

#crystals{
    border: solid 5px white;
    background-color: darkblue;
}

#winsandlosses{
    text-align:center;
    padding:5px;
    border: solid 5px white;
    margin: 0 auto;
    width:10%;
    font-size: 18px;
    background-color: darkblue;
}

#logo{
    text-align:center;
}

*{
box-sizing: border-box;
}